# ===========================================
# 🔧 Deploy Configuration
# ===========================================

# FTP Connection
SERVER_HOST="test-ftp-metals.tpof-aridrops.com"        # IP адрес или домен сервера
SERVER_USER="defaulttest-metals.tpof-aridrops.com"     # Пользователь FTP
SERVER_PORT="21"                     # Порт FTP
SERVER_PASSWORD="3hqSWQWuybzWw"      # Пароль FTP

# Remote paths
REMOTE_DIR="/opt/winners"         # Папка на сервере куда деплоить

# Database Configuration
DB_USER="nwo_admin"
DB_PASSWORD="M3t4ls_Pr0d_2024!xK9"
DB_NAME="silverounce_db"
DB_PORT="5432"

# Application Configuration
APP_PORT="4200"
BOT_TOKEN="8174252851:AAEU6_uBDf7FXf3s7ohP6tbADCbL3kiiYMU"
ADMIN_IDS="7816051496,6262327678"
APP_URL="https://defaulttest-metals.tpof-aridrops.com/"
TIMEZONE="Europe/Moscow"
IS_DEV="false"
TESTNET="false"
STELLAR_NETWORK="testnet"

# ===========================================
# Domain & SSL Configuration
# ===========================================
DOMAIN="defaulttest-metals.tpof-aridrops.com"            # Домен без https:// (например: app.example.com)
SSL_EMAIL="admin@tpof-aridrops.com"   # Email для Let's Encrypt уведомлений
ENABLE_SSL="true"                   # Включить HTTPS (true/false)
